    <!--<div class="checkbox">
        <label>
            <input type="checkbox" ng-model="filter"> All
        </label>
        <br>
        <label>
            <input type="checkbox" ng-model="filter['checking']"> Checking
        </label>
        <br>
        <label>
            <input type="checkbox" ng-model="filter['savings']"> Savings
        </label>
    </div>  -->
<div class="bit-75">
    <div ng-repeat="account in filtered=(accounts | filter:filterByCategory)">
        <div class="panel panel-default">
            <div class="panel-body">
                <span class="label label-primary" ng-show="account.type == 'checking'">Checking</span>
                <span class="label label-warning" ng-show="account.type == 'savings'">Savings</span>
                <div ng-show="account.type == 'checking'">
                    amount: {{account.amount}}
                    BIC: {{account.bic}}
                    IBAN: {{account.iban}}
                </div>
                <div ng-show="account.type == 'savings'">
                    amount: {{account.amount}}
                    Date: {{account.date}}
                    Maturity: {{account.maturity}}
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal">New Account</button>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Account</h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="type">Type</label>
                <select name="singleSelect" ng-model="type"> 
                    <option value="checking">Checking</option> 
                    <option value="savings">Savings</option> 
                </select>
                <br>
            </div>
            <div ng-show="type === 'checking'">
                <div class="form-group">
                    <label for="Amount">Amount</label>
                    <input type="text" class="form-control" id="Amount" placeholder="Enter Amount" ng-model="amount">
                </div>
                <div class="form-group">
                    <label for="bic">BIC</label>
                    <input type="text" class="form-control" id="bic" placeholder="Enter BIC" ng-model="bic">
                </div>
                <div class="form-group">
                    <label for="iban">IBAN</label>
                    <input type="text" class="form-control" id="iban" placeholder="Enter IBAN" ng-model="iban">
                </div>
            </div>
            <div ng-show="type === 'savings'">
                <div class="form-group">
                    <label for="Amount">Amount</label>
                    <input type="text" class="form-control" id="Amount" placeholder="Enter Amount" ng-model="amount">
                </div>
                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="text" class="form-control" id="date" placeholder="Enter Date" ng-model="date">
                </div>
                <div class="form-group">
                    <label for="maturity">Maturity</label>
                    <input type="text" class="form-control" id="maturity" placeholder="Enter Maturity" ng-model="maturity">
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="addAccount()" data-dismiss="modal">Add Account</button>
      </div>
    </div>
  </div>
</div>
